/* NAVBAR MENU */

.nav-bar {
    background-color: #f4c589; /* Light Orange */
    padding: 10px 20px;
    border-radius: 30px;
    border: 2px solid #e0a45e; /* Border matching the style */
}

.nav-links {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 20px;
    margin: 0;
    padding: 0;
}

.nav-links li {
    display: inline-block;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 8px 15px;
    border-radius: 20px;
}

.contact-btn {
    background-color: #e09036; /* Darker Orange */
    padding: 10px 15px;
    border-radius: 20px;
    transition: 0.3s ease-in-out;
}

.contact-btn:hover {
    background-color: #cc7a2a; /* Darker shade on hover */
}


/* Social Icons */
.social-icons {
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: absolute;
    left: 50px;
    top: 20%;
}

.social-icons a img {
    width: 20px;
    height: 20px;
    filter: contrast(0.7);
    transition: transform 0.3s ease;
}

.social-icons a:hover img {
    transform: scale(1.1);
}


